.vlad{

    border-radius: 50%;

}

body {
    
   
    background-image:url(../Images/u2222nknown.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    

        }

a{
    color: greenyellow;

}

h1{
    color: greenyellow;
}
